{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{{product.title}}
{% endblock title %}

{% block content %}
<nav aria-label="breadcrumb mt-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">
        {% blocktranslate %}
        Home
        {% endblocktranslate %}
      </a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'aksiys' %}">
        {% blocktranslate %}
        Aksiyalar
        {% endblocktranslate %}
      </a></li>
    </ol>
  </nav>

  <div class="container">
   <div class="row border-2 p-3">
    <div class="col-12">
        <img src="{{aksiya.image.url}}" class="img-fluid" alt="">
    </div>
    <div class="col-12 text-start mt-2">
            <h1>{{aksiya.title}}</h1>
            <br>
            <p class="text-secondary fs-4">
                {{aksiya.description}}
            </p>
    </div>
   </div>
</div>

{% endblock content %}