{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<nav aria-label="breadcrumb mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">
      {% blocktranslate %}
      Home
      {% endblocktranslate %}
    </a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'aksiys' %}">
      {% blocktranslate %}
      Aksiyalar
      {% endblocktranslate %}
    </a></li>
  </ol>
  </nav>

<div class="container">
    
      
       
        
    <div class="row">

   


      {% for x in  aksiys %}

        <div class="col-12 col-md-4 mt-3">
          <div class="card shadow-sm">
         <img src="{{x.image.url}}" class="w-100" style="height: 255px;" alt="">
            <div class="card-body">
              <p class="card-text">{{x.title}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'aksiy_detail' x.id %}" class="btn btn-sm btn-outline-secondary">
                    {% blocktranslate %}
                    Batafsil
                    {% endblocktranslate %}
                  </a>
                 </div>
              </div>
            </div>
          </div>
        </div>

        
        {% endfor %}
       
      
      </div> 
     
      </div>
    
</div>
{% endblock content %}