{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{{product.title}}
{% endblock title %}

{% block content %}
<nav aria-label="breadcrumb mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">
      {% blocktranslate %}
      Home
      {% endblocktranslate %}
    </a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'aksiys' %}">
      {% blocktranslate %}
      Detail
      {% endblocktranslate %}
    </a></li>
  </ol>
  </nav>

  <div class="container">
    <div class="row p-3 align-items-center">
        <!-- Rasm qismi -->
        <div class="col-12 col-md-6 p-3 order-1 order-md-2 ">
            <img src="{{product.image.url}}" class="w-100" alt="Product Image">
        </div>
        <!-- Text qismi -->
        <div class="col-12 col-md-6 p-3 order-2 order-md-1">
            <h2>{{product.title}}</h2>
            <p>
                {{product.description}}
            </p>
            <a download target="_blank" class="btn btn-secondary" href="{{product.property_file}}">
              <i class="fa-solid fa-download"></i>
              {% blocktranslate %}
              download
              {% endblocktranslate %}
            </a>
        </div>
    </div>
    <div class="row mt-3">
        <h3 class="fs-2">
          {% blocktranslate %}
          Texnik tasnifi
          {% endblocktranslate %}
        </h3>
        <div class="col-12 col-md-3">
          <div class="alert alert-secondary" role="alert">
            {{product.characteristic.weight}} {% blocktranslate %}weight{% endblocktranslate %}
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="alert alert-secondary" role="alert">
            {{product.characteristic.composity}} {% blocktranslate %}composity{% endblocktranslate %}
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="alert alert-secondary" role="alert">
            {{product.characteristic.wheel_formula}} {% blocktranslate %}wheel_formula{% endblocktranslate %}
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="alert alert-secondary" role="alert">
            {{product.characteristic.dimensions}} {% blocktranslate %}dimensions{% endblocktranslate %}
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="alert alert-secondary" role="alert">
            {{product.characteristic.working_volue}} {% blocktranslate %}working volue{% endblocktranslate %}
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="alert alert-secondary" role="alert">
            {{product.characteristic.wheelbase}} {% blocktranslate %}wheelbase{% endblocktranslate %}
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="alert alert-secondary" role="alert">
            {{product.characteristic.fuel_type.name}} {% blocktranslate %}fuel type{% endblocktranslate %}
          </div>
        </div>
    </div>
</div>

{% endblock content %}