{% extends 'base.html' %}


{% block content %}
<nav aria-label="breadcrumb mt-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">News</li>
    </ol>
  </nav>

  <div class="container">
   <div class="row">
        <div class="col-sm-8 py-1 mx-auto col-md-6">
          <h1 class="display-5 fw-normal">{{news.title}}</h1>
          <p class="fs-5">{{news.description}}</p>
          <p>From the top down, you'll see a dark navbar, light navbar and a responsive navbar—each with offcanvases built in. Resize your browser window to the large breakpoint to see the toggle for the offcanvas.</p>
          <p>
            <a class="btn btn-outline-secondary rounded-0" href="/docs/5.3/components/navbar/#offcanvas" role="button">{{news.created_at}}</a>
          </p>
      </div>
      <div class="col-sm-8 py-1 mx-auto col-md-6">
        <img src="{{news.image.url}}" alt="" class="img-fluid">
       
    </div>
      </div>
   </div>
    
</div>

{% endblock content %}